.dropCard {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  text-decoration: none;
}

.dropTarget {
  width: 100%;
  border: 3px dashed pink;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: green;

  p {
    margin-top: 1rem;
  }
}

.uploadProgressCard {

  width: 80%;
  margin-left: auto;
  margin-right: auto;

  table {
    width: 100%;
  }
}

.photographList {

  width: 80%;
  margin-left: auto;
  margin-right: auto;

  table {
    width: 100%;
  }
}

.photographRowImage {
  min-height: 50px;
}

.editImage {
  margin: 20px auto;
}

.editKeyword {
  margin-left: 5px;
  margin-bottom: 5px;
}

.addKeyword {
  margin-left: 5px;
  margin-top: -1px;
}

.bp3-multi-select-popover .bp3-menu {
  scrollbar-color: pink;
  scrollbar-width: thin;
}
